<h1>UrbanCalls#index</h1>
<p>Find me in app/views/urban_calls/index.html.erb</p>

<center>
<h1>Listing Words</h1>

<table>
  <tr>
    <th>Word</th>
    <th>Definition</th>
    <th>File Type</th>
  </tr>

  <% @urban_calls.each do |word| %>
    <tr>
      <td><%= word.word %></td>
      <td><%= word.definition %></td>
      <td><%= (word.definition).class %></td>
      <td><%= link_to 'Show', urban_call_path(word) %></td>
    </tr>
  <% end %>
</table>
<br>
<p><%= link_to 'Make a new word', new_urban_call_path %></p>
<p><%= link_to 'Dashboard', root_path %></p>
</center>
