<h1>UrbanCalls#new</h1>
<p>Find me in app/views/urban_calls/new.html.erb</p>

<center>

<%= form_for @urban_call do |f| %>

<% if @urban_call.errors.any? %>
  <div id="error_explanation">
    <p>
      <%= pluralize(@user.errors.count, "error") %> prohibited
      this article from being saved:
    </p>
    <% @urban_call.errors.full_messages.each do |msg| %>
      <li><center><%= msg %></li>
    <% end %>
  </div>
  <% end %>

  <p>
    <%= f.label "Word" %></br>
    <%= f.text_field :word %>
  </p>

  <%= f.submit "CREATE SUPER DEFINITION" %>
<% end %>

</center>
