<h1>JohnsonCalls#show</h1>
<p>Find me in app/views/johnson_calls/show.html.erb</p>

<center>

<h1>JOHNSON CALLS</h1>
<p>SJ TOKEN: <%= @sj_token %> </p>
<p><h3>@johnson_call.definition.class: <%= @johnson_call.definition.class %></p></h3>
<p>
  <strong>Word:</strong>
  <p><%= @johnson_call.word %></p>
</p>

<p>
  <strong>Definition:</strong>
<p><%= @johnson_call.definition %></p>

<br>
<p><%= link_to 'Make another Johnson word', new_johnson_call_path %></p>
<p><%= link_to 'See all Johnson words', johnson_calls_path %></p>

</center>
