<h1>Users#new</h1>
<p>Find me in app/views/users/new.html.erb</p>

<h1>Sign Up</h1>

<%= form_for @user do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <p>
        <%= pluralize(@user.errors.count, "error") %> prohibited
        this article from being saved:
      </p>
      <% @user.errors.full_messages.each do |msg| %>
        <center><li><%= msg %></li></center>
      <% end %>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation %>
  </div>

  <%= f.submit %>
<% end %>
