<h1>OxfordWords#index</h1>
<p>Find me in app/views/oxford_words/index.html.erb</p>

<%= @oxford_words.each do |oxword| %>
<li><%= oxword.word %></li>
<li><%= oxword.definition %></li>
<li><%= oxword.user_id %></li>
<% end %>


<table>
  <thead>
    <tr>
      <th>Word</th>
    </tr>
  </thead>
  <tbody>
    <% @oxford_words.each do |x| %>
      <tr>
        <td><%= x.word %></td>
        <td><%= x.definition %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br />
<p>Make a new word: <%= link_to 'WORDS', new_oxford_word_path %></p>
</center>
