<center>
  <!-- <%= image_tag 'https://s3.us-east-2.amazonaws.com/incubator-dash/thumbs_up_borat.jpeg' %> -->
  <div id="dict-slide" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#dict-slide" data-slide-to="0" class="active"></li>
      <li data-target="#dict-slide" data-slide-to="1"></li>
      <li data-target="#dict-slide" data-slide-to="2"></li>
      <li data-target="#dict-slide" data-slide-to="3"></li>
    </ol>

    <div class="carousel-inner" role="listbox">
      <div class="carousel-item active">
        <%= image_tag("https://s3.us-east-2.amazonaws.com/super-dictionary/oxford_car.jpg",
                       alt: "First slide",
                       class: "d-block img-fluid") %>
        <div class="carousel-caption"><h3>OXFORD</h3><p>Losing the war of prescriptivism</p></div>
      </div>
      <div class="carousel-item">
        <%= image_tag('https://s3.us-east-2.amazonaws.com/super-dictionary/webster-car-2.jpg',
                       alt: "Second Image",
                       class: "d-block img-fluid") %>
        <div class="carousel-caption"><h3>WEBSTER</h3><p>Fierce descriptivists</p></div>
      </div>
      <div class="carousel-item">
        <%= image_tag('https://s3.us-east-2.amazonaws.com/super-dictionary/johnson_car.jpg',
                       alt: "Third Image",
                       class: "d-block img-fluid")%>
        <div class="carousel-caption"><h3>JOHNSON</h3><p>Cranky old dead man</p></div>
      </div>
      <div class="carousel-item">
        <%= image_tag('https://s3.us-east-2.amazonaws.com/super-dictionary/urban_car.jpg',
                       alt: "Fourth Image",
                       class: "d-block img-fluid")%>
        <div class="carousel-caption"><h3>URBAN DICTIONARY</h3><p>The Internet is a strange place</p></div>
      </div>
      <a class="carousel-control-prev" href="#dict-slide" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#dict-slide" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Nextr</span>
      </a>
    </div>
  </div>
  <br />
  <p>
    Hi, <%= current_user.email %>
  </p>
  <h3>GET DEFINITIONS FROM THE MOST IMPORTANT DICTIONARIES</h3>
  <p class="h5">VOTE ON THE BEST ONE</p>
  <br />
  <h4>So far:</h4>
  <p><%= @best_dictionary %> has <%= @best_dictionary_votes %> votes</p>
  <p>All votes: <%= @votes %></p>
  <p>Oxford has <%= @oxford_votes %> votes.</p>
  <p>Webster has <%= @webster_votes %> votes.</p>
  <p>Johnson has <%= @johnson_votes %> votes.</p>
  <p>Urban has <%= @urban_votes %> votes.</p>
  <!-- <h3><%= link_to 'NEW FULL CALL', new_full_call_path %></h3> -->
  <%= render 'full_calls/form' %>
  <!-- <p><%= link_to 'Make an Oxford call', new_oxford_call_path %></p> -->
  <!-- <p><%= link_to 'See all Oxford words', oxford_calls_path %></p> -->
  <!-- <p><%= link_to 'Make a Johnson call', new_johnson_call_path %></p> -->
  <!-- <p><%= link_to 'See all Johnson words', johnson_calls_path %></p> -->
  <!-- <p><%= link_to 'Make a Webster call', new_webster_call_path %></p> -->
  <!-- <p><%= link_to 'See all Webster words', webster_calls_path %></p> -->
  <!-- <p><%= link_to 'Make an Urban call', new_urban_call_path %></p> -->
  <!-- <p><%= link_to 'See all Urban words', urban_calls_path %></p> -->
</center>
