<h1>Dashboards#index</h1>
<p>Find me in app/views/dashboards/index.html.erb</p>

<br>
<center>
  <p>Welcome to the dictionary.
    <br />
  <p><%= link_to 'Logout', logout_path, method: :delete %></p>
  <p><%= link_to 'Make an Oxford call', new_oxford_call_path %></p>
  <p><%= link_to 'See all Oxford words', oxford_calls_path %></p>
  <p><%= link_to 'Make a Johnson call', new_johnson_call_path %></p>
  <p><%= link_to 'See all Johnson words', johnson_calls_path %></p>
  <p><%= link_to 'Make a Webster call', new_webster_call_path %></p>
  <p><%= link_to 'See all Webster words', webster_calls_path %></p>
  <p><%= link_to 'Make an Urban call', new_urban_call_path %></p>
  <p><%= link_to 'See all Urban words', urban_calls_path %></p>
</center>
