<%= form_for @full_call, class: "form-group form-inline" do |f| %>

<% if @full_call.errors.any? %>
  <div id="error_explanation">
    <p>
      <%= pluralize(@user.errors.count, "error") %> prohibited
      this article from being saved:
    </p>
    <% @full_call.errors.full_messages.each do |msg| %>
      <li><center><%= msg %></li>
    <% end %>
  </div>
  <% end %>


    <%= content_tag :div, class: "form-group" do %>
      <%= f.label "SEE A WORD" %>
      <%= f.text_field :word %>
    <% end %>


  <%= f.submit "Submit", class: "btn btn-secondary"  %>
<% end %>
