<h1>FullCalls#index</h1>
<p>Find me in app/views/full_calls/index.html.erb</p>

<center>
<h1>Listing Words</h1>

<table>
  <tr>
    <th>Word</th>
    <th>Oxford Definition</th>
    <th>Webster Definition</th>
    <th>Johnson Definition</th>
    <th>Urban Definition</th>
  </tr>

  <% @johnson_calls.each do |word| %>
    <tr>
      <td><%= word.word %></td>
      <td><%= word.oxford_def %></td>
      <td><%= word.webster_def %></td>
      <td><%= word.johnson_def %></td>
      <td><%= word.urban_def %></td>
      <td><%= link_to 'Show', johnson_call_path(word) %></td>
    </tr>
  <% end %>
</table>
<br>
<%= link_to 'Make a new Johnson word', new_johnson_call_path %>
</center>
