<h1>FullCalls#show</h1>
<p>Find me in app/views/full_calls/show.html.erb</p>

<center>

  <h1>FULL CALLS</h1>
  <p>
    <strong>Word:</strong>
    <p><%= @full_call.word %></p>
  </p>

  <p>
    <strong>Oxford Definition:</strong>
    <p><%= @full_call.oxford_def %>

  <p>
    <strong>Webster Definition:</strong>
  <p><%= @full_call.webster_def %></p>

  <p>
    <strong>Johnson Definition:</strong>
  <p><%= @full_call.johnson_def %></p>

  <p>
    <strong>Urban Definition:</strong>
  <p><%= @full_call.urban_def %></p>

<br>
<p><%= link_to 'Make another word', new_full_call_path %></p>
<p><%= link_to 'See all words', full_calls_path %></p>

</center>
