<!DOCTYPE html>
<html>
  <head>
    <title>SuperDictionary</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag asset_path('dict-favicon.png'), :rel => 'icon', :type =>  'image/png' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>

  <body>
    <%= render 'partials/header' unless @disable_nav %>
      <div class="container-fluid">

        <%= yield %>
        <p id="notice"><%= notice %></p>
        <p id="alert"><%= alert %>

      </div>

  </body>
</html>
